amqp==1.4.9
anyjson==0.3.3
Babel==2.3.4
billiard==3.3.0.23
celery==3.1.23
Django==1.8.6
django-paypal==0.2.5
flower==0.9.1
kombu==3.0.35
Pillow==3.3.0
pytz==2016.6.1
requests==2.11.0
six==1.10.0
South==1.0.2
tornado==4.2
